---

server_role: "web"

apache_listen_port: "{{ web_port }}"

apache_vhosts:
  - servername: "{{ nex_app_domain }}"
    documentroot: "{{ nex_app_doc_root }}"
    extra_parameters: |
      ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://{{ lb_fpm_backnet_addrs[0] }}:{{ php_fpm_port }}{{ nex_app_doc_root }}"

firewall_v4_group_rules:
  401 allow backnet http traffic:
    - "-A INPUT -p tcp --dport {{ web_port }} -j ACCEPT -s {{ lb_web_backnet_addrs | join(',') }} -d {{ backnet_addr }}"
